body {
  margin: 0;
  background: linear-gradient(to bottom, #bed075, #1b2020);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.app {
  text-align: center;
  background: #4fa217cc;
  margin-top: 50px;
  border-radius: 16px;
  padding: 25px 30px;
  width: 360px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #333;
}

.input-block {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.input-block input {
  padding: 10px;
  background-color: #efefef;
  color: #333;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  font-size: 14px;
  flex: 1;
  outline: none;
}

.input-block button {
  background-color: #2a2b2d;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.input-block button:hover {
  background-color: #646669;
}

.error {
  color: red;
  margin-top: 10px;
}

.history {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  text-align: left;
  color: #333;
}

.history p {
  font-weight: 600;
  margin-bottom: 5px;
}

.history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.history li {
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 8px;
  transition: 0.2s;
}

.history li:hover {
  background: #e0e0e0;
}

.weather-card {
  background: #f1f8e9;
  border-radius: 12px;
  padding: 15px;
  margin-top: 10px;
  line-height: 1.6;
}

.weather-card p {
  text-align: left;
  color: #333;
}

.counter {
  margin-top: 15px;
  font-weight: 600;
}